.contact__page {
  @include full-flex;
  justify-content: space-between;
  padding: 2em;
  min-height: 75vh;
  .left__cont {
    @include flexer(space-evenly, flex-start);
    flex-direction: column;
    width: 38%;
    @include sm {
      width: 100%;
      margin-bottom: 2em;
    }
    .upper {
      h3 {
        font-size: 2em;
        color: #fff;
        margin: 0;
      }
      p {
        color: #fff;
      }
    }
    .lower {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 0.8em;
            svg {
              width: 0.8em;
              height: 0.8em;
              fill: #fff;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .right__cont {
    width: 58%;
    @include sm {
      width: 100%;
    }
    @include flexer(flex-end, center);
    form {
      width: 100%;
      .form-item {
        label {
          display: block;
          color: #fff;
        }
        textarea {
          padding: 1em 0;
          width: 100%;
          min-height: 140px;
          border: 0;
          border-bottom: 2px solid #fff;
          transition: 0.3s;
          background-color: transparent;
          color: #fff;
          &:focus {
            border-bottom: 3px solid #fff;
            outline: none;
          }
          &::placeholder {
            color: rgba(255, 255, 255, 0.568);
          }
        }
        button {
          @include pr-btn;
          @include flexer(center, center);
          margin-top: 2em;
          svg {
            width: 1em;
            height: 1em;
            margin-left: 10px;
            fill: $primary-color;
          }
        }
      }
      .inline-form {
        @include full-flex;
        justify-content: space-between;
        margin-bottom: 1em;
        .inline-item {
          width: 48%;
          label {
            display: block;
            color: #fff;
          }
          input {
            width: 100%;
            padding: 1em 0;
            border: 0;
            border-bottom: 2px solid #fff;
            transition: 0.3s;
            background-color: transparent;
            color: #fff;
            &:focus {
              border-bottom: 3px solid #fff;
              outline: none;
            }
            &::placeholder {
              color: rgba(255, 255, 255, 0.568);
            }
          }
        }
      }
    }
  }
}
