.contact__page {
  @include full-flex;
  justify-content: space-between;
  padding: 2em;
  min-height: 75vh;
  background-color: #fff;
  .left__cont {
    @include flexer(space-evenly, flex-start);
    flex-direction: column;
    width: 38%;
    @include sm {
      width: 100%;
      margin-bottom: 2em;
    }
    .upper {
      h3 {
        font-size: 2em;
        margin: 0;
      }
    }
    .lower {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          a {
            text-decoration: none;
            font-size: 0.8em;
            color: $primary-color;
            svg {
              width: 0.8em;
              height: 0.8em;
              fill: $primary-color;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .right__cont {
    width: 58%;
    @include sm {
      width: 100%;
    }
    @include flexer(flex-end, center);
    form {
      width: 100%;
      .form-item {
        margin-bottom: 1em;
        textarea {
          @include form-input;
          width: 100%;
          min-height: 140px;
          transition: 0.3s;
        }
        input,
        select {
          @include form-input;
          width: 100%;
          transition: 0.3s;
        }
        select {
          color: $light-color;
          -webkit-appearance: none;
          -moz-appearance: none;
          -o-appearence: none;
          position: relative;
          option {
            color: $light-color;
          }
        }
        button {
          @include pr-btn;
          @include flexer(center, center);
          color: #fff;
          background-color: $primary-color;
          svg {
            width: 1em;
            height: 1em;
            margin-left: 10px;
            fill: #fff;
          }
        }
      }
      .inline-form {
        @include full-flex;
        justify-content: space-between;
        .inline-item {
          width: 48%;
          input {
            @include form-input;
            width: 100%;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
