.slider__container {
  padding: 2em;
  height: 70vh;
  overflow-y: scroll;
  position: relative;
  .slider__item {
    @include full-flex;
    display: flex !important;
    justify-content: space-between;
    height: 100%;
    .slider__actions {
      width: 20%;
      .desc {
        color: #fff;
        h2 {
          margin: 0;
        }
      }
    }
    .poster {
      width: 70%;
      img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
      }
    }
  }
  .slick-slider {
    .slick-slide {
      padding: 0 10px;
      div {
        :focus {
          outline: none !important;
        }
      }
    }
    button {
      position: absolute;
    }
    .previous__btn,
    .next__btn {
      background-color: transparent;
      width: 60px;
      height: 60px;
      @include flexer(center, center);
      border: 2px solid #fff;
      border-radius: 50%;
      left: 5%;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
    .next__btn {
      background-color: #fff;
      margin-left: 1em;
      left: 10%;
      bottom: 0;
    }
  }
}
