.slider__container {
  padding: 2em;
  position: relative;
  .slider__item {
    @include full-flex;
    display: flex !important;
    justify-content: space-between;
    height: 100%;
    .slider__actions {
      width: 20%;
      .desc {
        color: #fff;
        h2 {
          margin: 0;
        }
      }
      @include md {
        width: 100%;
      }
    }
    .poster {
      width: 70%;
      .box__row {
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 18px;
        @include full-flex;
        justify-content: space-between;
        @include sm {
          height: 40vh;
        }
        @include xsm {
          height: 30vh;
        }
        .box__item {
          width: calc((100% / 3) - 10px);
          overflow: hidden;
          img {
            height: 100%;
            object-fit: cover;
          }
          &:nth-child(-n + 3) {
            margin-bottom: 10px;
          }
          &:nth-child(1) {
            border-top-left-radius: 18px;
          }
          &:nth-child(3) {
            border-top-right-radius: 18px;
          }
          &:nth-child(4) {
            border-bottom-left-radius: 18px;
          }
          &:nth-child(6) {
            border-bottom-right-radius: 18px;
          }
          @include sm {
            width: calc((100% / 3) - 6px);
          }
        }
        .not__empty {
          background-color: #fff;
          @include flexer(center, center);
          span {
            color: $primary-color;
          }
        }
      }
      @include md {
        width: 100%;
      }
    }
  }
  .slick-slider {
    .slick-slide {
      padding: 0 10px;
      div {
        :focus {
          outline: none !important;
        }
      }
      @include md {
        padding: 0;
      }
    }
    .slick-list {
      @include md {
        padding-bottom: 3em;
      }
    }
    button {
      position: absolute;
    }
    .previous__btn,
    .next__btn {
      background-color: transparent;
      width: 60px;
      height: 60px;
      @include flexer(center, center);
      border: 2px solid #fff;
      border-radius: 50%;
      left: 5%;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      @include xl {
        width: 40px;
        height: 40px;
      }
      @include lg {
        width: 40px;
        height: 40px;
      }
      @include md {
        left: 0;
      }
      @include sm {
        width: 30px;
        height: 30px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
      @include xsm {
        width: 20px;
        height: 20px;
      }
    }
    .next__btn {
      background-color: #fff;
      margin-left: 1em;
      left: 10%;
      bottom: 0;
      @include md {
        left: 5%;
      }
    }
  }
}
