.slider__container {
  padding: 2em;
  position: relative;
  background-color: $primary-color;
  min-height: 75vh;
  .slider__item {
    @include full-flex;
    display: flex !important;
    justify-content: space-between;
    height: 100%;
    .slider__actions {
      width: 20%;
      .desc {
        color: #fff;
        h2 {
          margin: 0;
        }
      }
      @include md {
        width: 100%;
      }
    }
    .poster {
      width: 70%;
      .box__row {
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 18px;
        @include full-flex;
        justify-content: space-between;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          top: calc(50% - 10px);
          background-color: $primary-color;
          left: 0;
          height: 10px;
          width: 100%;
        }
        @include sm {
          height: 40vh;
        }
        @include xsm {
          height: 30vh;
        }
        .box__item {
          height: 60vh;
          width: 100%;
          background-size: cover;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          .not__empty {
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(100% / 3);
            height: calc(100% / 2);
            background-color: #fff;
            @include flexer(center, center);
          }
          &:after {
            width: 10px;
            height: 100%;
            content: "";
            position: absolute;
            background-color: $primary-color;
            left: calc(100% / 3);
          }
          &:before {
            width: 10px;
            height: 100%;
            content: "";
            position: absolute;
            background-color: $primary-color;
            right: calc(100% / 3);
          }
        }
      }
      @include md {
        width: 100%;
      }
    }
  }
  .slick-slider {
    .slick-slide {
      padding: 0 10px;
      div {
        :focus {
          outline: none !important;
        }
      }
      @include md {
        padding: 0;
      }
    }
    .slick-list {
      @include md {
        padding-bottom: 3em;
      }
    }
    button {
      position: absolute;
    }
    .previous__btn,
    .next__btn {
      background-color: transparent;
      width: 60px;
      height: 60px;
      @include flexer(center, center);
      border: 2px solid #fff;
      border-radius: 50%;
      left: 5%;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      @include xl {
        width: 40px;
        height: 40px;
      }
      @include lg {
        width: 40px;
        height: 40px;
      }
      @include md {
        left: 0;
      }
      @include sm {
        width: 30px;
        height: 30px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
      @include xsm {
        width: 20px;
        height: 20px;
      }
    }
    .next__btn {
      background-color: #fff;
      margin-left: 1em;
      left: 10%;
      bottom: 0;
      @include md {
        left: 5%;
      }
    }
  }
}
