@mixin form-input {
  border: 2px solid #21212136;
  border-radius: 4px;
  padding: 1em;
  font-family: "Poppins";
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $light-color;
    font-family: "Poppins";
  }
}

.chev-parent {
  position: relative;
  .chev {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    svg {
      width: 16px;
      height: 16px;
      path {
        fill: $light-color;
      }
    }
  }
}

.page__titles {
  @include full-flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: $primary-color;
    margin: 0;
    display: inline;
    padding: 0.5em 0;
    position: relative;
    &:after {
      position: absolute;
      height: 2px;
      content: "";
      width: 40%;
      background-color: $dark-color;
      bottom: 0;
      left: 0;
    }
  }
}

.sub__btn {
  background-color: #ebf2f9;
  border-radius: 8px;
  padding: 0.6em 1em;
  display: inline-block;
  text-decoration: none;
}

.sub__btn__outline {
  border: 2px solid #afcce873;
  border-radius: 8px;
  padding: 0.6em 1em;
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
}

//FOrms
form {
  width: 100%;
  .form-item {
    margin-bottom: 1em;
    textarea {
      @include form-input;
      width: 100%;
      min-height: 140px;
      transition: 0.3s;
    }
    input,
    select {
      @include form-input;
      width: 100%;
      transition: 0.3s;
    }
    select {
      color: $light-color;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearence: none;
      position: relative;
      option {
        color: $light-color;
      }
    }
    button {
      @include pr-btn;
      @include flexer(center, center);
      color: #fff;
      background-color: $primary-color;
      svg {
        width: 1em;
        height: 1em;
        margin-left: 10px;
        fill: #fff;
      }
    }
  }
  .inline-form {
    @include full-flex;
    justify-content: space-between;
    .inline-item {
      width: 48%;
      input {
        @include form-input;
        width: 100%;
        transition: 0.3s;
      }
    }
  }
}

//Layout Fixer
.mb-2 {
  margin-bottom: 2em;
}

//Alert
.alerts {
  position: absolute;
  bottom: 20%;
  right: 5%;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  .alert {
    color: #fff;
    padding: 1em;
    border-radius: 4px;
    margin-top: 0.5em;
  }
  .alert.success {
    background-color: green;
  }
}
