@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "./variables";
@import "./mixins";
@import "./layout/sidebar";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
@import "./page/home";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #707070;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}
