.footer {
  padding: 2em;
  background-color: $secondary-color;
  position: fixed;
  width: 80%;
  bottom: 0;
  height: 15vh;
  @include flexer(space-between, center);
  @include xl {
    width: 75%;
  }
  @include lg {
    width: 100%;
  }
  @include sm {
    justify-content: center;
    flex-direction: column-reverse;
  }
  span {
    display: block;
    color: #fff;
    @include sm {
      width: 100%;
      text-align: center;
    }
    a {
      color: #fff;
    }
  }
  span.not__open {
    cursor: pointer;
    position: relative;
    padding-right: 1em;
    padding: 0.5em 1.5em;
    transition: 0.3s;
    @include sm {
      width: 100%;
      text-align: center;
    }
    &:after {
      content: "+";
      transform: rotate(0);
      position: absolute;
      right: 5%;
      transition: 0.3s;
      @include sm {
        right: 35%;
      }
    }
    @include sm {
      width: 100%;
    }
  }
  .not__open.open {
    position: relative;
    color: $primary-color;
    background-color: #ebf2f9;
    border-radius: 24px;
    &:after {
      transform: rotate(45deg);
    }
  }
}

.float__notice {
  position: fixed;
  z-index: 2;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  overflow-y: auto;
  width: 80vw;
  height: calc(75vh - 20px);
  background-color: $white-blurred;
  padding: 20px;
  z-index: 9;
  @include xl {
    width: 75vw;
  }
  @include lg {
    width: 100vw;
  }
  @include sm {
    top: 0;
    transform: none;
    height: 85vh;
  }
  &::-webkit-scrollbar {
    height: 4px;

    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #777;
  }
  .flower {
    @include full-flex;
    width: fit-content;
    .title {
      width: 100%;
      margin-bottom: 1em;
      span {
        color: $primary-color;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .notice__item {
      width: calc((100% - 4em) / 4);
      height: 100%;
      background-color: $secondary-color;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 1em;
      margin-right: 1em;
      @include md {
        width: calc((100% - 2em) / 3);
      }
      @include sm {
        width: calc((100% - 2em) / 2);
        margin-bottom: 1em;
      }
      @include xsm {
        width: 100%;
        margin-right: 0 !important;
      }
      &:nth-child(4n) {
        margin-right: 0;
        @include md {
          margin-right: 1em;
        }
      }
      @include md {
        &:nth-child(3n) {
          margin-right: 0;
          @include sm {
            margin-right: 1em;
          }
        }
      }
      @include sm {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
        @include md {
          margin-bottom: 1em;
        }
      }
      @include md {
        &:nth-last-child(-n + 3) {
          margin-bottom: 0;
          @include sm {
            margin-bottom: 1em;
          }
        }
      }
      @include sm {
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
          @include xsm {
            margin-bottom: 1em;
          }
        }
      }
      @include flexer(space-between, flex-start);
      flex-direction: column;
      h3 {
        margin: 0;
        a {
          color: #fff;
        }
      }
      p {
        color: #fff;
        font-size: 0.8em;
      }
      span {
        color: #fff;
        font-size: 0.8em;
        @include flexer(flex-start, center);
        svg {
          width: 1em;
          height: 1em;
          fill: #000;
          margin-right: 6px;
        }
      }
    }
  }
}
.float__notice.show {
  right: 0;
  opacity: 1;
  visibility: visible;
}
