.header {
  padding: 2em;
  background-color: $primary-color;
  .header__row {
    @include flexer(space-between, center);
    @include sm {
      flex-wrap: wrap;
    }
    .search {
      @include sm {
        width: 100%;
        @include flexer(flex-end, center);
      }
      input {
        padding: 0.8em;
        border: 0;
        border-radius: 24px;
        background-color: $secondary-color;
        color: #fff;
        width: 300px;
        &:focus {
          outline: none;
        }
        @include lg {
          margin-left: 4em;
        }
        @include md {
          margin-left: 2em;
          width: 200px;
        }
      }
    }
    .sec__nav {
      @include sm {
        width: 100%;
        @include flexer(flex-end, center);
        margin-top: 0.5em;
      }
      nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          li {
            margin-left: 2em;
            @include md {
              margin-left: 1em;
            }
            &:first-child {
              margin-left: 0;
            }
            a {
              color: #fff;
              @include md {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}
