.header {
  padding: 2em;
  background-color: $primary-color;
  z-index: 88;
  height: 15vh;
  @include sm {
    height: auto;
  }
  .header__row {
    @include flexer(space-between, center);
    @include sm {
      flex-wrap: wrap;
    }
    .search {
      @include lg {
        margin-left: 1.6em;
      }
      @include sm {
        width: 100%;
        @include flexer(flex-end, center);
      }
      form {
        @include flexer(center, center);
        padding: 0.8em;
        border-radius: 24px;
        background-color: $secondary-color;
        @include sm {
          padding: 0.4em;
        }
        input {
          color: #fff;
          border: 0;
          width: 300px;
          font-size: 1em;
          &::placeholder {
            color: $light-color;
          }
          @include lg {
            width: 240px;
          }
          background-color: transparent;
          &:focus {
            outline: none;
          }
          @include lg {
            margin-left: 4em;
          }
          @include md {
            margin-left: 2em;
            width: 200px;
          }
          @include sm {
            width: 100%;
          }
        }
        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          svg {
            width: 1.5em;
            height: 1.5em;
            circle,
            line {
              stroke: #fff;
            }
          }
        }
      }
    }
    .sec__nav {
      @include sm {
        width: 100%;
        @include flexer(flex-end, center);
        margin-top: 0.5em;
      }
      nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          li {
            margin-left: 2em;
            @include md {
              margin-left: 1em;
            }
            &:first-child {
              margin-left: 0;
            }
            a {
              color: #fff;
              @include md {
                font-size: 0.8em;
              }
            }
            a.active {
              position: relative;
              &:after {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                background-color: #fff;
                top: 110%;
                left: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
