//Structuring the layout
.app__container {
  height: 100vh;
  @include full-flex;
  aside {
    height: 100%;
    width: 20%;
  }
  .page__container {
    height: 100vh;
    width: 80%;
    .changable {
      height: 70%;
      background-color: $primary-color;
    }
  }
}
