//Structuring the layout
.app__container {
  aside {
    height: 100vh;
    width: 20%;
    position: fixed;
  }
  .page__container {
    margin-left: 20%;
    .changable {
      background-color: $primary-color;
      min-height: 75vh;
    }
  }
}
