//Structuring the layout
.app__container {
  aside {
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    transition: 0.3s;
    @include xl {
      width: 25%;
    }
    @include lg {
      width: 40%;
      left: -40%;
    }
    @include md {
      width: 40%;
      left: -40%;
    }
    @include md {
      width: 80%;
      left: -80%;
    }
  }
  aside.show {
    left: 0;
  }
  .page__container {
    position: fixed;
    width: 80%;
    right: 0;
    top: 0;
    @include xl {
      width: 75%;
    }
    @include lg {
      width: 100%;
    }
    @include sm {
      position: unset;
    }
    .changable {
      height: calc(100vh - (2 * 15vh));
      overflow-y: scroll;
      scrollbar-width: thin;
      z-index: 77;
      @include sm {
        margin-top: 0;
        overflow-y: auto;
        height: auto;
        min-height: 75vh;
      }
    }
    @include xl {
      margin-left: 25%;
    }
    @include lg {
      margin-left: 0;
    }
  }
}
