aside {
  .top__aside {
    background-color: $dark-color;
    height: 85%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .logo {
      span {
        svg {
          width: 130px;
        }
      }
    }
    .nav {
      .nav__row {
        padding: 1em 0;
        .nav__item {
          margin-bottom: 1.2em;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            @include full-flex;
            justify-content: space-between;
            color: #fff;
            font-size: 1.2em;
          }
        }
      }
    }
  }
  .bottom__aside {
    height: 15%;
    padding: 2em;
    @include flexer(flex-start, center);
    .wrap {
      .social {
        ul {
          display: flex;
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-right: 1em;
            a {
              color: $secondary-color;
              svg {
                width: 20px;
                height: 20px;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .copyright {
        span {
          font-size: 0.8em;
        }
      }
    }
  }
}
